1.can you write a python lambda script to store dynamodb table as a json to s3 bucket and restore data from s3 to dynamodb?

2.Make sure there will be two separate scripts not one. I will setup cronjob for both in cloudwatch